
html{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h3{
    font-size: 5em;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    letter-spacing: 10
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    margin-bottom: 10px;
}

h3{

    font-size: 3em;
    font-style: normal;
    font-variant:normal;
    color: rgb(61, 2, 116);
    font-family: sans-serif;
    margin-top: 10px;


}
.selecao, .btnSort, .sorteio, .acertos{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 30px;
}
    .selecao > input{
        width: 5em;
        height: 4em;
        margin-left: 15px;
        background-color: rgb(131, 79, 180);
    }
