
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1, h3{
   
    font-size: 5em;
    color:fuchsia;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 10px;
    font-weight: bolder;
    font-style: italic;
    font-variant:small-caps;
    margin-bottom: 10px;
}

h3{
    font-size: 3em ;
    font-style: normal;
    font-variant: normal;
    margin-top: 10px;
    

}